<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col justify-center items-center h-screen w-screen">
<form th:action="@{/upload}" method="post" enctype="multipart/form-data">
    <p class="text-5xl mb-10">File Upload with AWS S3</p>
    <input type="file" name="file" />
    <button type="submit" class="p-2 bg-blue-600 rounded text-white text-5xl">UPLOAD</button>
</form>
<p th:classappend="${message} == 'success' ? 'text-green-600' : 'text-red-600'" class="text-5xl mt-5" th:text="${message}"></p>
<p>Download files</p>
<ol class="mt-5">
    <li th:each="file : ${files}">
        <div class="flex">
            <a class="text-blue-600 underline" th:href="@{/download/{filename}(filename = ${file})}" th:text="${file.substring(0, file.length() - 40)}"></a>
            <a class="text-red-600 underline ml-2" th:href="@{/delete/{filename}(filename = ${file})}">delete</a>
        </div>
    </li>
</ol>
</body>
</html>
